workflow/EVA e TELEGRAM BOT.json
{
  "name": "EVA e TELEGRAM BOT",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        768,
        160
      ],
      "id": "7fc3ab74-1033-49be-804f-c22a21ea0f57",
      "name": "When chat message received",
      "webhookId": "f877177e-0abd-4787-ae5e-ae5ef25894d9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        160
      ],
      "id": "c6b2fdfd-5fd1-467f-a2a6-fa9a2ba6c47b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        832,
        368
      ],
      "id": "59b17b53-4b8e-42f2-9942-aafa98b945dc",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "DZKJWgej0yFqrXk7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## QUERY \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 704,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        0
      ],
      "typeVersion": 1,
      "id": "b69c152c-80c0-4291-a038-ac31aa2d3eda",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bridge",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        144
      ],
      "id": "ccb07e59-eb63-4c58-9cab-69a11ce87809",
      "name": "Webhook",
      "webhookId": "87bb7694-5036-49da-9333-31f07eee16b3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        352
      ],
      "id": "ce9991ba-856b-4e2c-8ffe-d12e82165c49",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7db04a8f-15ee-4b88-b188-c1ac9ced6692",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        144
      ],
      "id": "120c9841-f6a1-49c1-a1fd-f5755e55f318",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Sei un assistente utile e conciso. Rispondi direttamente alla domanda dell'utente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        208,
        144
      ],
      "id": "a601c510-ab5b-4e37-9731-5a672d047c07",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        160,
        352
      ],
      "id": "33ef1496-d119-4739-a36d-da5372c85d6b",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "DZKJWgej0yFqrXk7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## EVA & Telegram BOT\n ",
        "height": 704,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e06decab-927d-42e7-b48d-d3ba8c853b5d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        384
      ],
      "id": "2fed1d19-9011-4ff8-86c2-00af27ed3424",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "52d24ba3-6b99-41fb-9e27-ee7ef4e43d98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bfb0949e05aa7c83b1fec4535d245cad819acdd6fbc0d94a1cc893307c5efe0"
  },
  "id": "kRiD31EgzF2mbfcM",
  "tags": []
}